<section style="background-color: #eee;">
  <div class="container py-5">
    <h1 style="font-family: 'Arial', sans-serif; font-size: 36px; font-weight: bold; color: #e955fc; text-align: center; margin-bottom: 30px; letter-spacing: 1px;">User Profile</h1>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <!-- Profile Card -->
        <div class="card mb-4" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
          <div class="card-body text-center">
            <img src="https://localhost:7072{{UserArray.userImage}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{UserArray.username}}</h5>
            <div class="d-flex justify-content-center mb-2">
              <a type="button" class="btn" style="background-color: #e955fc; color: aliceblue;" routerLink="/EditPersonalInfo">Edit Profile</a>
            </div>
          </div>
        </div>

        <!-- Orders Table -->
        <!--<div class="card mb-4">
          <div class="card-body p-0">
            <h5 class="text-center py-2">Orders</h5>
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th scope="col">Order Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of UserArray.orde">
                  <td>{{ order.date }}</td>
                  <td>{{ order.status }}</td>
                  <td>{{ order.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>-->
      </div>

      <div class="col-lg-8">
        <!-- User Information Card -->
        <div class="card mb-4" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{UserArray.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{UserArray.useremail}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{UserArray.userphone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{UserArray.useraddres}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Orders and Subscriptions Tables -->
        <div class="row">
          <!-- Orders Table -->
          <div class="col-md-12 mb-4">
            <div class="card" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
              <div class="card-body">
                <h5 class="mb-3">Orders</h5>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Order Date</th>
                      <th>Status</th>
                      <th>Total</th>
                      <th>Detalis</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of UserArray.orde">
                      <td>{{ order.date }}</td>
                      <td>{{ order.status }}</td>
                      <td>{{ order.total }}</td>
                      <td><button class="btn btn-primary" (click)="showOrderDetails(order)">Details</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Subscriptions Table -->
          <div class="col-md-12 mb-4">
            <div class="card" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
              <div class="card-body">
                <h5 class="mb-3">Subscriptions for Gym</h5>
                <!-- Add table-responsive wrapper for responsiveness -->
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Gym Name</th>

                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Price</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subscription of UserArray.gymSubscriptions">
                        <td>{{ subscription.gymname }}</td>
                        <td>{{ subscription.startdate }}</td>
                        <td>{{ subscription.enddate }}</td>
                        <td>{{ subscription.gymprice }}</td>



                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



          <!-- Subscriptions Table -->
          <div class="col-md-12 mb-4">
            <div class="card" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
              <div class="card-body">
                <h5 class="mb-3">Subscriptions for class</h5>
                <!-- Add table-responsive wrapper for responsiveness -->
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Gym Name</th>

                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Price</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subscription of UserArray.fitnessClassSubscriptions">
                        <td>{{ subscription.classname }}</td>
                        <td>{{ subscription.startdate }}</td>
                        <td>{{ subscription.enddate }}</td>
                        <td>{{ subscription.classprice }}</td>



                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End of Row -->









        <div class="col-md-12 mb-4">
          <div class="card" style="border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro;">
            <div class="card-body">
              <h5 class="mb-3">Share My Experience</h5>
              <div class="form-group">
                <textarea [(ngModel)]="testimonial" placeholder="Write your testimonial here..." rows="5" class="form-control mb-3" style="background-color: #f8f9fa; border: 1px solid #ccc; border-radius: 5px;"></textarea>
              </div>
              <button class="btn" style="background-color: #e955fc; color: aliceblue;" (click)="submitTestimonial()">Submit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>




<!--         model                           -->

<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderDetailsLabel">Order Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--<p *ngIf="selectedOrder">
          <strong>Order Date:</strong> {{ selectedOrder.date }}<br>
          <strong>Status:</strong> {{ selectedOrder.status }}<br>
          <strong>Total:</strong> {{ selectedOrder.total }}<br>
          <strong>Items:</strong>
        </p>-->
        <ul *ngIf="selectedOrder?.items">
          <li *ngFor="let item of selectedOrder.items">
            {{ item.productname }} - Quantity: {{ item.quantity }} - Price: {{ item.price }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


