@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.stylethankyou {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 12px 2px rgb(128, 128, 128);
  width: 60%;
 margin:auto;
 margin-bottom:3% ;
}
