<h2 class="heading">Welcome to Our Gym and Fitness Classes</h2><div class="info">
  <p>At our gym, we offer a wide range of fitness services, including personalized gym sessions and a variety of group fitness classes designed to help you achieve your fitness goals. Whether you're looking to build strength, improve flexibility, or engage in high-intensity workouts, we have something for everyone.</p>
</div>

<section class="cards-wrapper">
  
  <div class="card-grid-space">
    <a class="card" routerLink="/AllFitness" style="--bg-img: url(https://localhost:7072/images/da5a41e8-73a4-40f2-8d7c-a557d84a19a2_classesserviceimage.jpg)">
      <div>
        <h1>Yoga & Pilates Classes</h1>
        <p>Our Yoga and Pilates classes are designed to improve your flexibility, balance, and core strength. Whether you’re a beginner or advanced, these classes offer a calming yet effective way to tone muscles and reduce stress. Classes run multiple times a week with certified instructors.</p>
       
      </div>
    </a>
  </div>

  
  <div class="card-grid-space">
    <a class="card" routerLink="/AllGyms" style="--bg-img: url('https://localhost:7072/images/fb7c3db3-e88e-4199-b24f-74def22fed30_gymservicesimage.jpg')">
      <div>
        <h1>State-of-the-Art Gym Services</h1>
        <p>Our gym offers the latest in fitness technology and equipment, including cardio machines, free weights, and personal training services. Whether you're looking to lose weight, build muscle, or improve your overall fitness, our gym has everything you need for a full-body workout.</p>
        
      </div>
    </a>
  </div>
</section>

