	<!-- MAIN SECTIONS START FROM HERE -->
<main class="main_wrapper">

  <!-- BANNER SECTION START FROM HERE -->
  <div class="default-padding">
    <div class="banner-wrapper">
      <img src="assets/images/background/strips.svg" alt="strips" class="strips">
      <div class="container">
        <div class="banner-block wow fadeInDown">
          <div class="textBlock">
            <div class="row">
              <div class="col-12">
                <div class="d-lg-flex d-block align-items-center text-lg-start text-center pb-sm-2 pb-0">
                  <h1 class="title p-0">BE UNSTOPPABLE</h1>
                  <img src="assets/images/background/line-pettern.svg" alt="Line" class="ps-3 d-lg-block d-none" loading="lazy">
                </div>
                <h1 class="title text-lg-end text-center">Embrace Endurance</h1>
              </div>
              <div class="col-lg-8">
                <div class="d-flex flex-lg-row flex-column-reverse align-items-center text-lg-start text-center">
                  <a routerLink="/Login" class="btn_wrapper">get started</a>
                  <p class="ps-lg-4 p-0 mb-lg-0 mb-3">We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="imgBlock pt-lg-0 pt-sm-5 pt-4">
        <img src="assets/images/background/about-img.webp" alt="banner" class="bannerImg wow fadeInLeftBig">
        <!--<div class="container position-relative wow fadeInUp">-->
        <!--<div class="members d-lg-flex d-none align-items-center">
          <img src="assets/images/background/members.webp" alt="Members" class="pe-2">
          members
        </div>-->
        <!--a
          <a href="#!" data-bs-toggle="modal" data-bs-target="#myModal" class="btn_wrapper White-btn ms-lg-auto mx-auto mt-lg-0 mt-3">
            watch tutorial
            <img src="assets/images/icon/btn-arrow.svg" alt="Arrow">
          </a>
        </div>-->
      </div>
    </div>
  </div>
  <!-- BANNER SECTION END'S FROM HERE -->
  <!-- SUCCESS SECTION START FROM HERE -->
  <div class="default-padding">
    <div class="success-section">
      <div class="container">
        <div class="title text-center">Gear Up for Success</div>
        <div class="success-wrapper">
          <div class="row gy-lg-0 gy-4">


            <div class="col-lg-4 col-sm-6 order-2">
              <div class="success-box first-box wow fadeIn">
                <div class="image-wrapper">
                  <a routerLink="/NutritionPageOne">
                    <img loading="lazy" src="assets/images/background/Sycle1.jpg" style="border-radius: 23px;" width="416" height="487" alt="success-1" class="box_img">
                  </a>
                </div>
                <div class="box-text position">
                  <span class="white">Nutrition</span>
                  <p>Nourish your body with balanced nutrition. Explore our resources for healthy recipes and meal plans tailored to support your fitness goals.</p>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-sm-6 order-2">
              <div class="success-box first-box wow fadeIn">
                <div class="image-wrapper">
                  <a routerLink="/shop">
                    <img loading="lazy" src="assets/images/background/Sycle2.jpg" style="border-radius: 23px;" width="416" height="487" alt="success-1" class="box_img">
                  </a>
                </div>
                <div class="box-text position">
                  <span class="white">Shop</span>
                  <p>Elevate your performance with premium sports gear. Discover a range of quality products designed for athletes and fitness enthusiasts.</p>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-sm-6 order-3">
              <div class="success-box last-box wow fadeIn">
                <div class="image-wrapper">
                  <a routerLink="/services">
                    <img loading="lazy" src="assets/images/background/success-2.webp" style="border-radius: 23px;" width="416" height="487" alt="success-2" class="box_img">
                  </a>
                </div>
                <div class="box-text position">
                  <span class="white">GYM</span>
                  <p>Transform your fitness journey at our gym. Experience a motivating environment with top-notch equipment and expert trainers dedicated to your success.</p>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SUCCESS SECTION END'S FROM HERE -->
  <app-top-price></app-top-price>
  <!-- ABOUT SECTION START FROM HERE -->
  <div class="default-padding">
    <div class="about-section">
      <div class="container">
        <div class="about-wrapper">
          <div class="row gy-sm-5 gy-4 justify-content-center align-items-center">
            <div class="col-lg-7 col-sm-10 order-lg-1 order-2">
              <div class="image-wrapper d-flex justify-content-center wow fadeInLeft">
                <img loading="lazy" src="assets/images/background/about-img.webp" alt="about-img" id="about_img1">
                <img loading="lazy" src="assets/images/white-logo.webp" alt="white-logo" class="logo" id="about_img2">
                <img loading="lazy" src="assets/images/background/strips.svg" alt="strips" class="strips">
              </div>
            </div>
            <div class="col-lg-5 order-lg-2 order-1">
              <div class="about-text text-lg-start text-center wow fadeInRight">
                <div class="title">About Us</div>
                <p>
                  Welcome to Endurance Unleashed, where we fuel the spirit of champions. Our mission is to equip you with the finest tools, gear, and resources to conquer your limits and achieve extraordinary feats. Embrace the thrill of pushing beyond boundaries, stay motivated through the toughest challenges, and track your progress as you embark on a relentless journey to greatness.
                  <br>
                  let's redefine the power of perseverance and triumph in the face of every obstacle. Unleash your full potential with Endurance.
                </p>
                <a routerLink="/Login" class="btn_wrapper mx-lg-0 mx-auto">get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT SECTION END'S FROM HERE -->
  <!-- CTA SECTION END'S FROM HERE -->
  <div class="cta-section default-padding pb-0 wow fadeInUp">
    <div class="container">
      <div class="cta-wrapper">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="cta-text text-lg-start text-center d-flex align-items-center gap-4">
              <div>
                <div class="title pb-1">Smart App For all</div>
                <p>We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
              </div>

              <div class="image-wrapper d-lg-block d-none">
                <a href="https://play.google.com/store/apps/details?id=com.arisdot.gymfit" target="_blank">
                  <img loading="lazy" src="assets/images/background/cta-appstore-img.svg" alt="cta-appstore-img">
                </a>
              </div>

            </div>
            <div class="image-wrapper mockup mx-lg-0 mx-auto">
              <div class="row justify-content-center">
                <div class="col-xxl-10 col-lg-8 col-sm-10">
                  <img loading="lazy" src="assets/images/background/cta-mockup.webp" alt="cta-mockup" class="d-block mx-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CTA SECTION END'S FROM HERE -->
  <!-- NOTICE SECTION START FROM HERE -->
  <div class="notice-section default-padding wow fadeIn">
    <div class="notice">
      <div class="notice-slide">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
      </div>
      <div class="notice-slide">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
        <img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
      </div>
    </div>
  </div>
  <!-- NOTICE SECTION END'S FROM HERE -->
  <!-- SPECIAL SECTION START FROM HERE -->
  <div class='special-section default-padding wow fadeIn'>
    <div class="container">
      <div class="special-wrapper">
        <div class="title text-center wow fadeInDown">Special addons</div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="special-block first-box text-lg-start text-center pb-0 wow fadeInUp">
                  <span>Workouts & Training</span>
                  <p>We focus on building cardiovascular endurance, muscular stamina, and mental resilience, enabling athletes and fitness enthusiasts to sustain physical effort over extended periods.</p>
                  <span class="tags">#EndureDrills</span>
                  <div class="image-wrapper mt-4 wow fadeInUpBig">


                    <a routerLink="/services">
                      <img loading="lazy" src="assets/images/background/special-1.webp" alt="special-1">
                    </a>



                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="special-block second-box text-lg-start text-center mt-lg-5 mt-0 pt-0 wow fadeInUp">
                  <div class="image-wrapper mb-4 wow fadeInDownBig">
                    <a routerLink="/NutritionPageOne">
                      <img loading="lazy" src="assets/images/background/special-2.webp" alt="special-2">
                    </a>
                  </div>
                  <span>Workouts & Training</span>
                  <p>We focus on building cardiovascular endurance, muscular stamina, and mental resilience, enabling athletes and fitness enthusiasts to sustain physical effort over extended periods.</p>
                  <span class="tags">#EndureDrills</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SPECIAL SECTION END'S FROM HERE -->
  <!-- STAND WITH SECTION START FROM HERE -->
  <div class="stand-with-section strips default-padding">
    <div class="container">
      <div class="stand-with-wrapper">
        <div class="top-block wow fadeIn">
          <div class="d-lg-flex justify-content-end d-block align-items-center text-lg-start text-center pb-sm-2 pb-0">
            <h1 class="title p-0">Stand out with</h1>
            <img loading="lazy" src="assets/images/background/line-pettern.svg" alt="Line" class="px-xl-5 px-4 mx-xl-5 mx-4 d-lg-block d-none">
          </div>
          <h1 class="title text-lg-end text-center">High Endurance</h1>
        </div>
        <div class="row pb-lg-0 pb-4">
          <div class="col-lg-4">
            <div class="text-block text-lg-start text-center wow fadeInLeft">
              <span class="mb-2">Defy The Limits</span>
              <p>We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
              <a routerLink="/Login" class="btn_wrapper mx-lg-0 mx-auto">get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-block wow fadeInUpBig">
      <div class="container">
        <!--<div class="image-wrapper">
          <img loading="lazy" src="assets/images/background/stand-with-img.webp" alt="stand-with-img" class="d-block mx-auto">
          <a href="#!" data-bs-toggle="modal" data-bs-target="#myModal" class="btn_wrapper White-btn ms-lg-auto mx-auto mt-lg-0 mt-3">
            watch tutorial
            <img loading="lazy" src="assets/images/icon/btn-arrow.svg" alt="Arrow">
          </a>
        </div>-->
      </div>
    </div>
  </div>
  <!-- STAND WITH SECTION END'S FROM HERE -->
  <!-- CLIENT SECTION START FROM HERE -->
  <div class="client-section default-padding">
    <div class="container">
      <div class="client-wrapper">
        <div class="row gy-sm-5 gy-4 align-items-center justify-content-between">
          <div class="col-lg-6 order-lg-1 order-2">
            <div class="image-wrapper clientImg wow fadeInLeft">
              <img loading="lazy" src="assets/images/clients/client-img.webp" alt="client-img" class="d-block mx-auto">
              <div class="pettern image-wrapper">
                <img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
                <img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
                <img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
              </div>
              <img loading="lazy" src="assets/images/background/strips.svg" alt="strips" class="strips">
            </div>
          </div>
          <div class="col-xxl-5 col-lg-6 order-lg-2 order-1">
            <div class="client-text wow fadeInRight">
              <div class="title text-lg-start text-center">Our Happy Clients</div>
              <div class="swiper ClientSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="review-block">
                      <div class="text pb-4">
                        <p class="mb-3">As an avid fitness enthusiast, I've always sought a platform that could help me push beyond my limits and unlock my true potential. Joining Endurance Unleashes Premium subscription has been a game-changer for me! From the moment I signed up, I knew I was in for an extraordinary journey.</p>
                        <p>The mission to fuel the spirit of champions resonates deeply with me. The abundance of finely curated tools, top-notch gear.</p>
                      </div>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="review-block">
                      <div class="text pb-4">
                        <p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum suscipit voluptate aliquam officia voluptatem! Minus dolorem tempora optio quisquam odio. Minima temporibus molestias aspernatur neque veniam ducimus, placeat ratione eligendi!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores minima voluptatum dignissimos vitae repudiandae non vel sint, accusamus excepturi atque dicta, sunt eligendi molestias asperiores sapiente quis provident animi tenetur.</p>
                      </div>
                      <div class="review">
                        <div class="image-wrapper pe-4">
                          <img loading="lazy" src="assets/images/background/review-img-2.webp" alt="review-img-2">
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CLIENT SECTION END'S FROM HERE -->
  <app-testimonial></app-testimonial>
  <!-- INSTAGRAM SECTION START FROM HERE -->
  <div class="instagram-section default-padding wow fadeIn" data-wow-duration="1.2s">
    <div class="instagram-wrapper">
      <div class="image-wrapper">
        <img loading="lazy" src="assets/images/background/paper-texture.webp" alt="papper-texture">
        <div class="img-block">
          <div class="row g-0 h-100 justify-content-between">
            <div class="col-6">
              <div class="row g-0 h-100">
                <div class="col-4">
                  <div class="image-wrapper h-100 d-flex flex-column justify-content-between">
                    <img loading="lazy" src="assets/images/instagram/n2.jpg" style="filter: blur(5px);" alt="img-1" class="img-1 z-1" id="floatingImage1">
                    <img loading="lazy" src="assets/images/instagram/n1.jpg" style="height: 255px; max-width: 100%;" alt="img-2" class="img-2" id="floatingImage2">
                  </div>
                </div>
                <div class="col-4">
                  <div class="image-wrapper h-100 d-flex flex-column justify-content-center">
                    <img loading="lazy" src="assets/images/instagram/n3.jpg" alt="img-3" class="img-3" id="floatingImage3">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-4.webp" alt="img-4" class="img-4" id="floatingImage4">
                  </div>
                </div>
                <div class="col-2">
                  <div class="image-wrapper h-100">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-5.webp" alt="img-5" class="img-5" id="floatingImage5">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row g-0 h-100">
                <div class="col-6">
                  <div class="image-wrapper h-100 d-flex flex-column justify-content-center">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-6.webp" alt="img-6" class="img-6" id="floatingImage6">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-7.webp" alt="img-7" class="img-7" id="floatingImage7">
                  </div>
                </div>
                <div class="col-6">
                  <div class="image-wrapper h-100">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-8.webp" alt="img-8" class="img-8" id="floatingImage8">
                    <img loading="lazy" src="assets/images/instagram/instagram-img-9.webp" alt="img-9" class="img-9" id="floatingImage9">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-block text-center">
        <p>Follow Us on Instagram</p>
        <a href="#!">Gymfit</a>
      </div>
    </div>
  </div>
  <!-- INSTAGRAM SECTION END'S FROM HERE -->

</main>
<!-- MAIN SECTIONS END'S FROM HERE -->
