

<h2 class="heading">Welcome to the Nutrition and Healthy Living Section</h2>

<div class="info">
  <p>Our nutrition section provides expert advice and personalized diet plans to help you achieve your health goals. Whether you're managing weight, improving your diet, or boosting energy, we offer the support you need for a healthier lifestyle.</p>
</div>

<section class="cards-wrapper">

  <div class="card-grid-space">
    <a class="card" routerLink="/Recips" style="--bg-img: url(https://images.stockcake.com/public/8/e/c/8ece92c1-c400-47df-83ad-8e75f3487110_large/vintage-recipe-writing-stockcake.jpg)">
      <div>
        <h1>Healthy Recipe Collection</h1>
        <p>Our healthy recipe collection is crafted to nourish your body while satisfying your taste buds. Whether you're new to healthy eating or a seasoned expert, these recipes offer a delicious way to boost your wellness. With easy-to-follow instructions and nutritious ingredients, you'll find options for every meal. Discover new ways to fuel your body with our expert-approved recipes, available to suit various dietary needs.</p>

      </div>
    </a>
  </div>


  <div class="card-grid-space">
    <a class="card" routerLink="/Tips" style="--bg-img: url(https://images.stockcake.com/public/3/4/c/34cef0c0-369a-4f5e-bce0-5c4d110b228f_large/nutrition-class-session-stockcake.jpg)">
      <div>
        <h1>Healthy Eating Tips & Nutrition Advice</h1>
        <p>Our nutrition tips and advice section provides practical guidance to help you make informed food choices and lead a healthier lifestyle. Whether you're aiming to boost your energy, manage your weight, or simply eat more mindfully, we offer easy-to-follow tips that cater to your everyday needs. From meal planning strategies to portion control, discover expert-backed insights to enhance your overall well-being.</p>

      </div>
    </a>
  </div>
</section>
