<hr />
<h2>Tips</h2>
<hr />
<div class="form-group mb-3">
  <input type="text" class="form-control" placeholder="Search by Tips Name" [(ngModel)]="searchTerm" (ngModelChange)="filterTips()">
</div>

<div>
  <button class="btn btn-success" style="width: 150px;" [routerLink]="['/Dashboard/AddTips']">Add Tips</button>
</div>

<table class="table table-striped table-hover text-center" style="margin-top: 20px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Tips Name</th>
      <th scope="col">Tips Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredTipsArray" style="vertical-align: middle;">
      <td>
        <a class="postcard__img_link">
          <img class="postcard__img"
               [src]="'https://localhost:7072/api/Recipe/getImages/' + item.tipsImage"
               [alt]="item.tipsImage"
               style="width: 120px; height: 120px; border-radius: 8px; object-fit: cover;" />
        </a>
      </td>
      <td>{{item.tipsName}}</td>
      <td>{{item.tipsDescription}}</td>
      <td>
        <button class="btn btn-secondary me-2" style="width: 80px;" [routerLink]="['/Dashboard/UpdateTipsAdmin', item.tipsId]">Edit</button>
        <button class="btn btn-danger" style="width: 80px;" (click)="delettips(item.tipsId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
